.bgImage {
  background-image: url(../../Images/iPhone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.decor {
  color: var(--light-on-surface-high-contrast, #2a2a2a);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Proxima Nova A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-decoration-line: underline;
}

.applyButton3 {
  border-radius: 4px;
  background: var(--1, #8800ec);
  display: flex;
  width: 168px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
}

.gift {
  color: #000;
  font-family: Proxima Nova A;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 109.091% */
}

.Earn {
  color: #2a2a2a;
  font-family: Proxima Nova A;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.8%; /* 60.632px */
  text-transform: capitalize;
}
