.loanText {
  color: #2a2a2a;
  text-align: center;
  font-family: Proxima Nova A;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.8%; /* 60.632px */
  text-transform: capitalize;
}

.title {
  color: #2a2a2a;
  font-family: Proxima Nova A;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.des {
  color: #777479;
  font-family: Proxima Nova A;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.span2 {
  color: var(--1, #8800ec);
  font-family: Proxima Nova A;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.heading {
  color: #000;
  text-align: center;
  font-family: Proxima Nova A;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.8%; /* 33.072px */
  text-transform: capitalize;
}

.partner {
  color: #2a2a2a;
  font-family: Proxima Nova A;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.8%; /* 52.364px */
  text-transform: capitalize;
  margin-top: 20px;
}

.text2{
    color: #888;
font-family: Proxima Nova A;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 137.8%; /* 35.828px */
}

.applyButton4 {
    border-radius: 4px;
    background: var(--1, #8800ec);
    display: flex;
    width: 168px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
  }
